*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
min-height:100vh;
color:white;
}

.container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-card{

background:white;
color:black;
padding:35px;

width:330px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.4);

text-align:center;
}

.login-card h1{
color:#2563eb;
margin-bottom:10px;
}

.login-card p{
margin-bottom:20px;
color:gray;
}

input{

width:100%;
padding:14px;

margin:10px 0;

border:1px solid #ddd;

border-radius:12px;

outline:none;
}

button{

width:100%;
padding:14px;

background:#2563eb;

color:white;

border:none;

border-radius:12px;

font-size:16px;

cursor:pointer;

margin-top:10px;
}

button:hover{
opacity:.9;
}

.navbar{

padding:20px;

display:flex;

justify-content:space-between;

background:#111827;
}

.dashboard{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:20px;

padding:25px;
}

.card{

background:white;

color:black;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:
0 8px 20px rgba(0,0,0,.3);
}

.table-container{

background:white;

color:black;

margin:20px;

padding:20px;

border-radius:20px;
}

table{

width:100%;

margin-top:20px;

border-collapse:collapse;
}

th,td{

padding:15px;

border-bottom:
1px solid #ddd;
}

select{

padding:8px;

border-radius:8px;
}
